---
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
import { getCollection, render } from "astro:content";
import { Github, Globe } from "lucide-react";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  
  return projects.map((project) => ({
    params: { id: project.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
const { slug, data } = project;
const { title, img, linkAvailable, link, sourcecodeAvailable, sourcecode } = data;

const { Content } = await render(project);
---

<Layout title={`${title} - Tomás Hurrell`}>
  <div class="my-32 px-4 md:px-16 lg:px-32 xl:px-64">
    <aside>
      <img 
        src={`/src/assets/${img}`} 
        alt={title} 
        class="h-auto object-cover rounded-lg"
        transition:name={`${slug}-image`}
      />
    </aside>
    <main class="mt-14 prose lg:prose-md dark:prose-invert">
      <h1 transition:name={`${slug}-title`}>{title}</h1>
      <div>
        <Content />
      </div>
    </main>
    <section>
      <div>
        {linkAvailable && <a
        target="_blank"
        href={link}
        rel="noopener noreferrer"
        >
          <Button variant="outline">
            <span class="pr-2">Website</span><Globe />
          </Button>
        </a>}
        {sourcecodeAvailable && <a
        target="_blank"
        href={sourcecode}
        rel="noopener noreferrer"
        >
          <Button variant="outline">
            <span class="pr-2">Source</span><Github />
          </Button>
        </a>}
      </div>
    </section>
  </div>
</Layout>